.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
  
    .login-form {
      width: 500px;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

      h2 {
        text-align: center;
      }

      .error-message {
        color: #ff0000;
      }
  
      .login-form-button {
        width: 70%;
      }

      .button-wrapper {
        display: block;
        text-align: center;
      }
      .email label {
        width: 85px;
      }
    }
    
    // canh giữa theo chiều dọc
    > .login-form {
      margin: auto;
    }
  }
  